footer { 
	margin-top: 70px;
	background: $lightGray;
	color: $midnightBlue;
	padding: 50px;
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			margin: 5px 0;
			font-size: 1.5rem;
			letter-spacing: 1px;
			font-family: $source;
			a {
				text-decoration: none;
				color: $midnightBlue;
				&:hover {
					color: $slate;
				}
			}
		}
	}
}