// General Styles
.wrapper {
	width: 100%;
	max-width:1100px;
	margin:0 auto;
}

.flexParent {
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}

h2 {
	font-size: 3rem;
	text-align: center;
	font-family: $headerFont;
	color: $midnightBlue;
}

h3 {
	font-size: 2rem;
	text-align: center;
	font-family: $headerFont;
	color: $midnightBlue;
}

input[type="radio"] {
	display:none;
}

fieldset {
	border:0;
	padding-top:50px;
	padding-bottom:50px;
}

//Genre Selection Styles

.genres h2 {
	margin: 40px 0;
}

.genreSelection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-family: $bodyFont;
	.genreItem {
		width: calc(25% - 10px);
		height: 265px;
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 10px;
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('https://unsplash.it/400/400');
		background-position: center;
		background-size: cover;
		color: white;
		input[type=radio]:checked + label {
			color: $turq;
		}
		label {
			display: flex;
			flex-direction: column;
			font-size: 2rem;
			letter-spacing: 1px;
			justify-content: space-between;
			transition: 0.3s ease;
			i {
				font-size: 8rem;
				margin-bottom: 20px;
			}
			&:hover, &:focus, &:active {
				color: $turq;
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
	.genreNoMargL {
		margin-left: 0;
	}
	.genreNoMargR {
		margin-right: 0;
	}
	.genreAction {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/action-min.png');				
	}
	.genreAnimation {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/animation-min.png');					
	}
	.genreComedy {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/comedy-min.png');				
	}
	.genreCrime {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/crime-min.png');				
	}
	.genreDoc {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/documentary-min.png');				
	}
	.genreDrama {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/drama-min.png');		
	}
	.genreFamily {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/family-min.png');				
	}
	.genreKids {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/kids-min.png');
	}
	.genreMystery {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/mystery-min.png');		
	}
	.genreNews {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/news-min.png');
	}
	.genreReality {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/reality-min.png');
	}
	.genreScifi {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/scifi-min.png');
	}
	.genreSoap {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/soap-min.png');				
	}
	.genreTalk {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/talk-min.png');				
	}
	.genreWar {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/war-min.png');				
	}
	.genreWestern {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/western-min.png');				
	}
}


// Styles for potato section days Binge

.daysBinge {
	background-color:lighten($slate, 45%);
	.timeSelection {
		display:flex;
		justify-content:space-between;
		// So the potatos are always aligned
		align-items:baseline;
	}
}

.timeItem {
	width: 13%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			margin: 30px 0 0 0;
			font-family: $bodyFont;
			text-align:center;
			padding:10px;
			z-index:1;
			border:2px solid lighten($slate, 50%);
			background-color: rgba(255,255,255,0.5);
			border-radius:5px;
		}
		.potatoImg {
			width: 100%;
			transition: transform 0.3s ease;
			z-index:2;
		}
		&:hover, &:focus, &:active {
			cursor: pointer;
		}
	}
	input[type=radio]:checked + label img {
		transform: scale(1.2);
	}
	input[type=radio]:checked + label p {
		transform:scale(1.1);
		border:2px solid rgba(28,0,64,0.8);
		box-shadow:1px 1px 5px rgba(28,0,64,0.3);
		background-color: lighten($turq,35%);
	}

}

.timeItem:hover, .timeItem:focus {
	label img {
		transform: scale(1.2);
	}
	label p {
		transform:scale(1.1);
		border:2px solid rgba(28,0,64,0.8);
		box-shadow:1px 1px 5px rgba(28,0,64,0.3);
		background-color: lighten($turq,35%);
	}
}

// Styles for hours a day section 
fieldset.hoursADay {
	background-color:rgba(28,0,64,0.8);
}

.hoursADay .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		text-align: left;
		margin-left:10px;
		color:white;
	}
	div {
		width:100px;
		margin-left:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		input[type=number] {
			padding-left:10px;
			width: 70px;
			color:$darkSlate;
			height: 35px;
			font-size: 2rem;
			border-radius:10px;
			border:2px solid $turq;
			&:focus,&:active {
				outline:none;
				box-shadow:1px 1px 5px $turq;
			}
		}
	}
}

.submitWrap {
	text-align: center;
	input[type=submit] {
		margin-top: 70px;
		width: 20%;
		height: 50px;
		font-size: 1.5rem;
		border-radius: 10px;
		border: 2px solid $turq;
		color: $turq;
		background: none;
		&:hover,&:active  {
			background: $turq;
			color: white;
		}
		&:focus{
			outline:none;
			background: $turq;
			color: white;
			box-shadow:1px 1px 5px $turq;
		}
	}
}

// Results Section Styles

.results {
	opacity: 0;
	margin-top: 70px;
	text-align: center;
	font-family: $bodyFont;
	.wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: calc(33% - 10px);
			margin: 0 5px;
		}
		h3 {
			margin: 5px 0;
			font-family: $headerFont;
			font-size: 2rem;
		}
		p {
			margin: 5px 0;
			font-size: 1.5rem;
		}
		img {
			width: 100%;
			border-radius: 7px;
		}
	}
}



// Breakpoints

@media (max-width: 940px) {
	.genreSelection {
		width: 80%;
		margin: 0 auto;
		.genreItem {
			width: 45%;
			height: 200px;
			margin: 5px;
		}
	}
}

@media (max-width: 640px) {
	.genreSelection {
		width: 90%;
		.genreItem {
			label {
				font-size: 2rem;
				i {
					font-size: 4rem;
				}
			}
		}
	}

	.timeSelection {
		flex-wrap:wrap;
	}

	fieldset.daysBinge .timeItem {
		width:30%;
		margin-bottom:30px;
		label p {
			font-size:1.4rem;
			margin-top:10px;
		}
	}
}

@media (max-width: 480px) {
	.genreSelection {
		width: 100%;
	}
	
	fieldset.daysBinge .timeItem {
		width:45%;
	}

	.hoursADay .wrapper {
	display: block;
	h2 {
		text-align: center;
		margin-left:0;
	}
	div {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		margin-left:0;
	}
}
}

@media (max-width: 414px) {
	.genreSelection {
		.genreItem {
			width: 100%;
			height: 150px;
		}
	}
}

