// General Styles
.wrapper {
	width: 100%;
	max-width:1100px;
	margin:0 auto;
}

h2 {
	font-size: 3rem;
	text-align: center;
	font-family: $headerFont;
	color: #3B4C7B;
}

h3 {
	font-size: 2rem;
	text-align: center;
	font-family: $headerFont;
	color: #3B4C7B;
}

input[type="radio"] {
	display:none;
}

fieldset {
	border:0;
	padding-top: 50px;
	padding-bottom: 50px;
  	background-color: rgba(224, 249, 249, 0.5); 
}

//Genre Selection Styles

.genres h2 {
	margin: 40px 0;
}

.genreSelection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	font-family: $bodyFont;
	margin: 0 auto;
	.genreItem {
		width: calc(25% - 10px);
		height: 200px;
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 10px;
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('https://unsplash.it/400/400');
		background-position: center;
		background-size: cover;
		color: white;
		input[type=radio]:checked + label {
			color: $turq;
		}
		label {
			display: flex;
			flex-direction: column;
			font-size: 2rem;
			letter-spacing: 1px;
			justify-content: space-between;
			transition: 0.3s ease;
			i {
				font-size: 8rem;
				margin-bottom: 20px;
			}
			&:hover, &:focus, &:active {
				color: $turq;
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
	.genreNoMargL {
		margin-left: 0;
	}
	.genreNoMargR {
		margin-right: 0;
	}
	.genreAction {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/action-min.png');				
	}
	.genreAnimation {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/animation-min.png');					
	}
	.genreComedy {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/comedy-min.png');				
	}
	.genreCrime {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/crime-min.png');				
	}
	.genreDoc {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/documentary-min.png');				
	}
	.genreDrama {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/drama-min.png');		
	}
	.genreFamily {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/family-min.png');				
	}
	.genreKids {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/kids-min.png');
	}
	.genreMystery {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/mystery-min.png');		
	}
	.genreNews {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/news-min.png');
	}
	.genreReality {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/reality-min.png');
	}
	.genreScifi {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/scifi-min.png');
	}
	.genreSoap {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/soap-min.png');				
	}
	.genreTalk {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/talk-min.png');				
	}
	.genreWar {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/war-min.png');				
	}
	.genreWestern {
		background-image: linear-gradient($backgroundBlack, $backgroundBlack), url('../../images/genres/western-min.png');				
	}
}

// Styles for potato section days Binge

.daysBinge {
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			margin-bottom: 10px;
		}
		h3 {
			color:$turq;
			margin: 10px 0;
		}
		.timeSelection {
			display:flex;
			justify-content:space-between;
			// align-items:baseline;
		}
	}
}

.timeItem {
	width: 13%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 60px;
			margin: 30px 0 0 0;
			font-family: $abhaya;
			letter-spacing: 1px;
			text-align:center;
			padding:10px;
			z-index:1;
			border: 2px solid $turq;
			background-color: rgba(255,255,255,0.5);
			border-radius:5px;
			font-size: 1.6rem;
			color: $midnightBlue;
		}
		.potatoImg {
			width: 100%;
			transition: transform 0.3s ease;
			z-index:2;
		}
		&:hover, &:focus, &:active {
			cursor: pointer;
		}
	}
	input[type=radio]:checked + label p {
		border:2px solid rgba(28,0,64,0.8);
		box-shadow:1px 1px 5px rgba(28,0,64,0.3);
		background-color: lighten($turq,35%);
	}
}

.timeItem:hover, .timeItem:focus {
	label p {
		border:2px solid rgba(28,0,64,0.8);
		box-shadow:1px 1px 5px rgba(28,0,64,0.3);
		background-color: lighten($turq,35%);
	}
}

// Styles for hours a day section 
fieldset.hoursADay {
	background-color: rgba(224, 249, 249, 0.5);
}

.hoursADay .wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		text-align: center;
		margin-left:10px;
		color: #3B4C7B;
		font-size: 2.5rem;
	}
	div {
		width: 10%;
		margin-left:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		input[type=number] {
			width: 50%;
			padding-left: 10px;
			color:$darkSlate;
			height: 35px;
			font-size: 2rem;
			border-radius:10px;
			border:2px solid $turq;
			&:focus,&:active {
				outline:none;
				box-shadow:1px 1px 5px $midnightBlue;
			}
		}
	}
}

.submitField {
	background-color: rgba(224, 249, 249, 0.5);
	padding: 0;
}

.submitWrap {
	text-align: center;
	width: 100%;
	input[type=submit] {
		margin: 70px 0px;
		min-width:100px;
		height: 60px;
		padding:0px 25px;
		font-size: 2rem;
		border-radius: 10px;
		border: 2px solid $turq;
		color: #3B4C7B;
		background: #FFF;
		font-family: $abhaya;
		font-weight: 600;
		&:hover, &:active  {
			background: $turq;
			color: white;
		}
		&:focus{
			outline:none;
			background: $turq;
			color: white;
			box-shadow:1px 1px 5px $turq;
		}
	}
}

// Results Section Styles

.results {
	display: none;
	height: 100vh;
	margin: 100px 0;
	text-align: center;
	font-family: $bodyFont;
	.wrapper {
		width: 100%;
		.refresh{
			background-color: #FFF;
		}
		.slider {
			padding-bottom:50px; 
			.tvShow {
				width: 33%;
			}
			.imgContainer {
				position: relative;
				margin: 0 5px;
				i {
					position: absolute;
					display: none;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					font-size: 9rem;
					color: $turq;
					z-index: 1;
					transition: display 0.3s ease;
				}
				img {
					width: 100%;
					height: 540px;
					border-radius: 7px;
				}
				&:hover i, &:focus i {
					display: block;
				}
				.overview {
					position: absolute;
					display: none;
					bottom: 0;
					font-size: 1.3rem;
					font-family: $source;
					transition: 0.5s ease-in;
					background-color: rgba(255,255,255,0.75);
					padding: 20px;
					text-align: left;
					line-height:1.8rem;
					letter-spacing: .65px;
				}
			}
		}
		h3 {
			margin: 5px 0;
			font-family: $headerFont;
			font-size: 2rem;
		}
		p {
			margin: 5px 0;
			font-size: 1.5rem;
		}
	}
}

// Breakpoints

@media (max-width: 940px) {
	.genreSelection {
		width: 80%;
		margin: 0 auto;
		.genreItem {
			width: 45%;
			height: 200px;
			margin: 5px;
		}
	}
}

@media (min-width: 940px) {
	.daysBinge {
		height: 100vh;
	}
	.timeItem:hover, .timeItem:focus {
		img, p {
			transform: scale(1.12);
		}
	}
	.timeItem {
		input[type=radio]:checked + label img {
			transform: scale(1.12);
		}
		input[type=radio]:checked + label p {
			transform:scale(1.12);
		}
	}
}

@media (max-width: 768px) {
	.timeItem {
		label {
			p {
				font-size: 1.4rem;
			}
		}
	}
	.hoursADay .wrapper {
		h2 {
			font-size: 2.1rem;
		}
		div {
			input[type=number] {
				font-size: 1.5rem;
			}
		}
	}
}

@media (max-width: 640px) {
	.genreSelection {
		width: 90%;
		.genreItem {
			label {
				font-size: 2rem;
				i {
					font-size: 4rem;
				}
			}
		}
	}
	.timeSelection {
		flex-wrap:wrap;
		padding: 5px;
		.timeItem {
			width: 27%;
			margin-top: 20px;
			label {
				p {
					margin-top: 10px;
				}
			}
		}
	}
	.hoursADay .wrapper {
		display: block;
		div {
			width:20%;
			margin:0 auto;
		}
		input[type=number] {
			margin-top:40px;
		}
	}
	.results .wrapper .slider .tvShow {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.genreSelection {
		width: 100%;
	}
	fieldset.daysBinge .timeItem {
		width:45%;
	}
	.hoursADay .wrapper {
		display: block;
		h2 {
			text-align: center;
			margin-left:0;
		}
		div {
			display:flex;
			justify-content:center;
			align-items:center;
			width:20%;
			margin:0 auto;
			margin-left:0;
		}
		input[type=number] {
			margin-top:40px;
		}
	}	
}	

@media (max-width: 414px) {
	.genreSelection {
		.genreItem {
			width: 100%;
			height: 150px;
		}
	}
	.hoursADay .wrapper {
		display: block;
		div {
			width:20%;
			margin:0 auto;
		}
		input[type=number] {
			margin-top:40px;
		}
	}
}

//Non-retina screens


@media (max-height: 612px) {
	.results {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 50px;
	}
}