// Header Styles

header {
	font-family: $headerFont;
	font-weight: 800;
	// background-color: rgba(28,0,64,0.1);
	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		h1 {
			font-size: 9rem;
			// font-family: 'Shadows Into Light', cursive;
			font-family: 'Ultra', serif;
			letter-spacing: 10px;
			margin-bottom: 0;
			color: $midnightBlue;
		}
		h3 {
			text-align: center;
			font-size: 3rem;
			font-family: 'BioRhyme', serif;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 0;
		}
		img{
			width:75%;
		}
	}
}