// Header Styles

header {
	font-family: $headerFont;
	font-weight: 800;
	height: 100vh;
	// background-color: #E4E4E4;
	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		h1 {
			font-size: 10rem;
			font-family: 'Ultra', serif;
			letter-spacing: 9px;
			margin-bottom: 0;
			color: $midnightBlue;
			font-weight: 400;
		}
		h3 {
			text-align: center;
			font-size: 3rem;
			font-family: 'BioRhyme', serif;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 0;
		}
		img{
			width:75%;
		}
	}
}