// Animations
@keyframes bounce {
	50% {
		bottom:0px;
	}
}

// Header Styles
header {
	font-family: $headerFont;
	font-weight: 800;
	height:100vh;
	position:relative;
	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		h1 {
			text-align: center;
			font-size: 10rem;
			font-family: 'Ultra', serif;
			letter-spacing: 9px;
			margin-bottom: 0;
			text-align:center;
			color: $midnightBlue;
			font-weight: 400;
		}
		h3 {
			text-align: center;
			font-size: 3rem;
			font-family: 'BioRhyme', serif;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 0;
		}
		img{
			width:75%;
		}
		i {
			font-size:50px;
			padding:30px;
			bottom:10px;
			position:absolute;
			transform:translateX(-50%);
			color: $midnightBlue;
			animation: 1s bounce infinite;
			cursor:pointer;
		}
	}
}

