// Color Palette

$midnightBlue:rgb(28,0,64);

$slate:rgb(76,97,140);

$turq:rgb(104,194,204);

$darkSlate:rgb(77,51,65);

$backgroundBlack: rgba(0,0,0,0.65);

$lightGray: #d3d3d3;

// fonts 
$headerFont: 'BioRhyme', serif;
$bodyFont: 'BioRhyme', serif;
$ultra: 'Ultra', serif;
$source: 'Source Sans Pro', sans-serif;
$abhaya: 'Abhaya Libre', serif;

